.photo-item img {
    width: 100%;
}

.photo-item h2 {
    margin-bottom: 0.2em;
    padding: 0.01em;
    color: #fafafa;
    
}

.photo-author {
    text-align: left;
    color: #fafafa;
}

.photo-author a {
    font-weight: bold;
    color: #0094f6;
}
