body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
  color: #fafafa;
}

a {
  color: black;
  text-decoration: none;

}

.active {
  font-weight: bold;
}

ul {
  list-style: none;

}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color:#fafafa;
  font-size: .7em;
}

input {
  background-color: #e3e3e3;
  color: hsl(0, 0%, 18%);
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: 0.6em;
}

input::placeholder {
  color: #aaa;
}

.btn,
button,
input[type="submit"] {
  /* background-color: #0094f6; */
  color:#fff;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #0b1879);
  background: -o-linear-gradient(to left, #21d4fd, #0b1879);
  background: -moz-linear-gradient(to left, #21d4fd, #0b1879);
  background: linear-gradient(to left, #21d4fd, #0b1879);
  border: none;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 0.2em;
}

input:disabled {
  cursor: not-allowed;
  background-color: #000;
}
.btn,
button:hover,
input[type="submit"]:hover {
  opacity: 1;
  background-color: #0094f6;
}

.cancel-btn {
  background-color: #ccc;
}

.hide {
  display: none;
}

